---
import Layout from '../layouts/Layout.astro';
import EventsPage from '../components/EventsPage';
---

<Layout title="Events - TABU Gentleman's Club">
  <main>
    <EventsPage client:load />
  </main>
</Layout>