---
import Layout from '../layouts/Layout.astro';
import HomePage from '../components/HomePage';
---

<Layout title="TABU - Gentleman's Club">
  <main>
    <HomePage client:load />
  </main>
</Layout>
