---
import Layout from '../layouts/Layout.astro';
import LadiesPage from '../components/LadiesPage';
---

<Layout title="Ladies - TABU Gentleman's Club">
  <main>
    <LadiesPage client:load />
  </main>
</Layout>