---
import Layout from '../layouts/Layout.astro';
import ProfilePage from '../components/ProfilePage';
---

<Layout title="Profil - TABU Gentleman's Club">
  <main>
    <ProfilePage client:load />
  </main>
</Layout>