---
import Layout from '../layouts/Layout.astro';
import RoomsPage from '../components/RoomsPage';
---

<Layout title="Zimmer auswählen - TABU Gentleman's Club">
  <main>
    <RoomsPage client:load />
  </main>
</Layout>